<div>
<div class="container">
  <div class="border border-dark p-4 w-50">
    <div>
      <h1>Team Generator</h1>
    </div>
    <ul class="border border-dark p-4 list" >
      <li *ngFor ="let newMember of members"><h6>{{newMember}}</h6></li>
      
    </ul>
    <div>
    <input  class="form-control" 
    #addMemberInput 
    (input)=onInput(addMemberInput.value) 
    [value] = "newMember"
    type="text" placeholder="Name">

   </div>
   <div class="row mt-2">
    <button (click)="addMember()" class="btn btn-dark btn-sm add-btn">Add</button>
   </div>
   <div class="d-flex mt-2">
    <input class="form-control" type="text"
    #addTeamInput 
    (input)=teamInput(addTeamInput.value) 
    [value] = "numberOfTeams"

     placeholder="# of teams">
    <button class="btn btn-success"
    (click)="generateTeams()"
    >Generate</button>
   </div>

   <p *ngIf="errorMsg" class="text-danger">{{errorMsg}}</p>
  
  </div>

  
</div>


<div class="teams-container" *ngIf = teams.length>
  <div class="team-container border border-dark m-3 p-3" *ngFor = "let team of teams; let i = index">
    <h5>Team {{i+1}}</h5>
    <ul >
      <li class="list" *ngFor = "let member of team"><h6>{{member}}</h6></li>
    </ul>
  </div>

</div>
  
</div>
